<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tabs.css" />
    <script src="/js/tabs.js"></script>
</head>

<body>
<div th:include="fragments/navbar :: nav_navbar"></div>

<br>
<div class="container">
        <h1 class="text-center">Inbox</h1>
        <br />
        <!-- success message -->
        <div th:if="${param.success}">
            <div class="alert alert-info">
                You reply has been sent.
            </div>
        </div>
        <!-- deleted message -->
        <div th:if="${param.deleted}">
            <div class="alert alert-info">
                Message has been deleted.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!-- Tab links -->
                        <div class="tab">
                            <button class="tablinks" id="defaultOpen" onclick="openMessageList(event, 'Received')">Received</button>
                            <button class="tablinks" onclick="openMessageList(event, 'Sent')">Sent</button>
                        </div>
                        <!-- Tab content -->
                        <div id="Received" class="tabcontent">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> Ticket # </th>
                                    <th sec:authorize="hasAuthority('ADMIN')"> Username </th>
                                    <th> Date Added </th>
                                    <th> Subject </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${messages_received.isEmpty()}">
                                    <td colspan="2"> No Messages Available </td>
                                </tr>
                                <tr th:class="${!message.read} ? font-weight-bold" th:each="message : ${messages_received}">
                                    <td><span th:text="${message.id}"> Title </span></td>
                                    <td sec:authorize="hasAuthority('ADMIN')"><span th:text="${message.sender.email}"> Title </span></td>
                                    <td><span th:text="${message.dateAdded}"> Title </span></td>
                                    <td><span th:text="${message.subject}"> Title </span></td>
                                    <td >
                                        <div class="btn-group">
                                            <a th:href="@{/inbox/message/{id}(id = ${message.id})}">
                                                <button type="button" class="btn btn-success">Read</button>
                                            </a>
                                            <form method="POST" th:action="@{/inbox/remove/{id}(id = ${message.id})}">
                                                <button class="btn btn-danger" type="submit" name="submit" value="value">Remove</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="Sent" class="tabcontent">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> Ticket # </th>
                                    <th sec:authorize="hasAuthority('ADMIN')"> Username </th>
                                    <th> Date Added </th>
                                    <th> Subject </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${messages_sent.isEmpty()}">
                                    <td colspan="2"> No Messages Available </td>
                                </tr>
                                <tr th:each="message : ${messages_sent}">
                                    <td><span th:text="${message.id}"> Title </span></td>
                                    <td sec:authorize="hasAuthority('ADMIN')"><span th:text="${message.receiver.email}"> Title </span></td>
                                    <td><span th:text="${message.dateAdded}"> Title </span></td>
                                    <td><span th:text="${message.subject}"> Title </span></td>
                                    <td >
                                        <div class="btn-group">
                                            <a th:href="@{/inbox/message/{id}(id = ${message.id})}">
                                                <button type="button" class="btn btn-success">Read</button>
                                            </a>
                                            <form method="POST" th:action="@{/inbox/remove/{id}(id = ${message.id})}">
                                                <button class="btn btn-danger" type="submit" name="submit" value="value">Remove</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    // open received messages by default
    document.getElementById("defaultOpen").click();
</script>
</html>