<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Future Enhancements</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>


<body>

    <div th:include="fragments/navbar :: nav_navbar"></div>

    <br>
    <div class="container">
        <div class="text-center">
            <h1>Future Enhancement</h1>
             <div class="row">
                <div class="col-md-12">
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="img/under-construction.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>